﻿/* PRODUCT AND CUSTOM PRODUCT*/
/* PRODUCT DETAILS SECTION */

:root {
    /* --productDetailsContainer:img/celebrity_details.png;
    --productDetailsContainer-url: url(img/celebrity_details.png);
    --productDetailsContainerRight:img/celebrity_details.png;
    --productDetailsContainerRight-url: url(img/celebrity_details.png);
    --productDetailsContainerLeft:img/productDetailsBackrgoundLeft.png;
    --productDetailsContainerLeft-url: url(img/productDetailsBackrgoundLeft.png); */
}


.ProductDetails { /* used when the user clicks a product in menu */
    top: 21vh;
    bottom: 19vh;
    width: 37vw;
    left: 2vw;
    background-color: rgb(0 0 0 / 90%);
    border-radius: 0.5em;
}

.ProductDetailsRight { /* used when a user clicks a tag on the left side of the screen */
    top: 21vh;
    bottom: 19vh;
    width: 37vw;
    right: 2vw;
    background-color: rgb(0 0 0 / 90%);
    border-radius: 0.5em;
}

.ProductDetailsLeft { /* used when the user clicks a tag on the right side of the screen */
    top: 21vh;
    bottom: 19vh;
    width: 37vw;
    left: 2vw;
    background-color: rgb(0 0 0 / 90%);
    border-radius: 0.5em;
}

#CustomProductDetaildID{
    top: 21vh;
    bottom: 35vh;
    width: 37vw;
    left: 2vw;
    background-color: rgb(0 0 0 / 90%);
    border-radius: 0.5em;
}
#CustomProductDetaildID .productdescription{
    bottom: 4vw;
}
#CustomProductDetaildID .productExternalLinkContainer{
    margin-top: -1vw;
}
#CustomProductDetaildID .ProductImage{
    background-color: #ffffff;
    border-radius: 0.5em;
}

/* GENERAL PRODUCT INFORMATION */
.ProductName {
    top: 2.5vw;
    left: 2vw;
    font-size: 2vw;
    text-transform: capitalize;
    color: #ffffff;
}
    #brandName{ /* SPAN inside ProductName */
        display: none;
    }

.ProductDetailsLeft .ProductName{
}

/* PRODUCT IMAGE */
.ProductImageBackground {
    margin-top: 6vw;
    width: 14vw;
    height: 20vw;
    margin-left: 2vw;
    overflow: hidden;
    border-radius: 0.5em;
}
.ProductDetailsLeft .ProductImageBackground{
    margin-left: 2vw;
}

    .ProductImage {
        width: 100%;
        border-radius: 0.5em;
    }

/* ADDITIONAL DIV FOR CREATIVE DESIGN */
.ProductExtra {

}

/*PRODUCT DESCRIPTION SECTION*/
.productdescription {
    top: 6vw;
    bottom: 12vw;
    width: initial;
    left: 17vw;
    padding-right: 1vw;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 1.2vw;
    word-break: break-word;
    color: #ffffff;
}

.ProductDetailsLeft .productdescription{
    margin-left: 0vw;
}

    .productdescription::-webkit-scrollbar {
        width: 6px;
        height: 4px;
    }

    .productdescription::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }

    .productdescription::-webkit-scrollbar-thumb {
        background: #e1e1e1;
        border: 12px none #ffffff;
        border-radius: 21px;
    }

    .productdescription::-webkit-scrollbar-thumb:hover {
        background: #ffffff;
    }

    .productdescription::-webkit-scrollbar-thumb:active {
        background: #808080;
    }

    .productdescription::-webkit-scrollbar-track {
        background: #666666;
        border: 0px none #ffffff;
        border-radius: 48px;
    }

    .productdescription::-webkit-scrollbar-track:hover {
        background: #666666;
    }

    .productdescription::-webkit-scrollbar-track:active {
        background: #333333;
    }

    .productdescription::-webkit-scrollbar-corner {
        background: transparent;
    }


/*FAVORITE ICON*/


/*EXTERNAL LINK SECTION*/
.productExternalLinkContainer {
    width: 16vw;
    margin-top: 8vw;
    margin-left: 1vw;
    top: 18.5vw;
    padding: 1vw;
}

.productexternallink {
    font-family: var(--ikea-font);
    font-size: 1.2vw;
    color: #000000;
    text-align: center;
    background: rgb(255, 255, 255);
    padding: 9px;
    border-radius: 0.5em;
    padding: 0.5vw;
}

    .productexternallink a:visited, 
    .productexternallink a:link, 
    .productexternallink a:active {
        color: #000000;
        background-color: transparent;
    }

/* PRODUCT DETAILS CLOSE FOR PRODUCT FROM MENU */
.ProductDetailsClose {
    width: 3vw;
    height: 3vw;
    position: absolute;
    top: -1vw;
    left: 35vw;
    opacity: 0.8;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 50%;
}

#ProductDetailsClose::after {
    content: "x";
    font-size: 2.6vw;
    color: #000000;
    margin-left: 0.8vw;
    font-weight: bold;
}

.ProductDetailsClose:hover{
    transition: transform .7s ease-in-out;
    transform: rotate(360deg);
}

/* PRODUCT DETAILS CLOSE FOR PRODUCT TAG RIGHT IN THE VIDEO */
.ProductDetailsCloseRight {
    width: 3vw;
    height: 3vw;
    position: absolute;
    top: -1vw;
    left: 35vw;
    opacity: 0.8;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 50%;
}
#ProductDetailsCloseRight::after {
    content: "x";
    font-size: 2.6vw;
    color: #000000;
    margin-left: 0.8vw;
    font-weight: bold;
}

.ProductDetailsCloseRight:hover{
    transition: transform .7s ease-in-out;
    transform: rotate(360deg);
}

/* PRODUCT DETAILS CLOSE FOR PRODUCT TAG LEFT IN THE VIDEO */
.ProductDetailsCloseLeft {
    width: 3vw;
    height: 3vw;
    position: absolute;
    top: -1vw;
    left: 35vw;
    opacity: 0.8;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 50%;
}
#ProductDetailsCloseLeft::after {
    content: "x";
    font-size: 2.6vw;
    color: #000000;
    margin-left: 0.8vw;
    font-weight: bold;
}

.ProductDetailsCloseLeft:hover{
    transition: transform .7s ease-in-out;
    transform: rotate(360deg);
}
