﻿
/* GENERAL TAG */
.tag{
    cursor: pointer;
    width: 4vw;
    height: 4vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.tagText{
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    line-height: 1.5vw;
    color: #ffffff;
    padding: 5px;
    white-space: nowrap;
}

/* CELEBRITY TAG */
.CelebrityTag {
    background-image: url("img/tag.gif");
}

.CelebrityTagTextLeft {
    border-radius: 0px 5px 5px 5px;
    margin-top: 15px;
    margin-left: 2.5vw;
}
.CelebrityTagTextRight {
    border-radius: 5px 0px 5px 5px;
    margin-top: 15px;
    margin-left: 2.5vw;
}

.tag:hover .web .ProductTagContainer{
    display: block;

}




/* PRODUCT TAG*/

/* GENERAL */

    .web .ProductPrice{
        /* display: none; */
    }
    


/* RIGHT */
.web .ProductTagRight {
    background-image: url("img/tag.gif");
}
.web .ProductTagRight .ProductTagContainer{
    background: #171F33;
    border-radius: 25px;
    width: fit-content;
    right: 80px;
    top: -25px;
    position: absolute;
    display: none;
    z-index: 10;
    min-width: 20vw;
    height: 120px;
}
.web .ProductTagRight .ProductTagContainer .ProductTagImage{
    height: 100px;
    border-radius: 15px;
    margin: 10px;
    max-width: 85px;
}

.web .ProductTagRight .ProductTagContainer .ProductTagRightImage{ /* only used with option "show product image "*/
    width: 2vw;
    position: absolute;
    margin-top: -3vw;
    margin-left: -2.5vw;
}
.web .ProductTagRight .ProductTagContainer .ProductBrandRight {
    font-family: var(--ikea-font);
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    top: 10px;
    margin-left: 110px;
    position: absolute;

}
.web .ProductTagRight .ProductTagContainer .ProductTextRight {
    font-family: var(--ikea-font);
    font-size: 14px;
    margin-top: -96px;
    margin-left: 105px;
    color: #ffffff;
} 
.web .ProductTagRight .ProductTagContainer .ProductTextRight .ProductTagButton {
    background: transparent;
    padding: 5px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 20px;
    text-align: center;
    border: solid 2px #D9D9D9;
    color: #ffffff;
}
.web .ProductTagRight .ProductTagContainer .ProductTextRight .ProductTagButton:hover{
    background-color:#D9D9D9;
    color: #000000;
}
.web .ProductTagRight .ProductTagContainer .ProductTextRight .ProductTagButton span{
    display: none;
}

.web .ProductTagRight .ProductTagContainer .ProductTextRight .ProductTagButton a{
    font-family: 'Lato', sans-serif;
    font-size: 1vw;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;;
}
.web .ProductTagRight .ProductTagContainer .addToFavoriteButton{
    left: -1vw;
}
.web .ProductTagRight .ProductTagContainer .addToFavoriteButtonRemove{
    left: -1vw;
}
.web .ProductTagRight .ProductTagContainer .ProductPrice{
    display: none;
}

/* LEFT */
.web .ProductTagLeft {
    background-image: url("img/tag.gif");
}
.web .ProductTagLeft .ProductTagContainer{
    background: #171F33;
    border-radius: 25px;
    width: fit-content;
    left: 80px;
    top: -25px;
    position: absolute;
    display: none;
    z-index: 10;
    min-width: 20vw;
    height: 120px;
}
.web .ProductTagLeft .ProductTagContainer .ProductTagImage{
    height: 100px;
    border-radius: 15px;
    margin: 10px;
    max-width: 85px;
}
.web .ProductTagLeft .ProductTagContainer .ProductBrandLeft {
    font-family: var(--ikea-font);
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    top: 10px;
    margin-left: 110px;
    padding-right: 10px;
    position: absolute;
}
.web .ProductTagLeft .ProductTagContainer .ProductTextLeft {
    font-family: var(--ikea-font);
    font-size: 14px;
    margin-top: -96px;
    margin-left: 105px;
    color: #ffffff;
}

.web .ProductTagLeft .ProductTagContainer .ProductTextLeft .ProductTagButton{
    background: transparent;
    padding: 5px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 20px;
    text-align: center;
    border: solid 2px #D9D9D9;
    color: #ffffff;

}
.web .ProductTagLeft .ProductTagContainer .ProductTextLeft .ProductTagButton:hover{
    /* box-shadow: inset 0 0 20px #D9D9D9; */
    background-color:#D9D9D9;
    color: #000000;
}
.web .ProductTagLeft .ProductTagContainer .ProductTextLeft .ProductTagButton span{
    display: none;
}
.web .ProductTagLeft .ProductTagContainer .ProductTextLeft .ProductTagButton a{
    font-family: 'Lato', sans-serif;
    font-size: 1vw;
    text-transform: uppercase;
    text-align: center;
}
.web .ProductTagLeft .ProductTagContainer .addToFavoriteButton{
    right: -1vw;
    background-image: url(img/favorite-0.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 2vw;
    background-color: #171f33;
    height: 2vw;
    border-radius: 50%;
    background-size: calc(100% - 5px) calc(100% - 15px);
    border: solid 1px #ffffff;
    top: -1vw;
}
.web .ProductTagLeft .ProductTagContainer .addToFavoriteButton:hover{
    background-image: url(img/favorite-1.svg);
    background-color: #D9D9D9;
}

.web .ProductTagLeft .ProductTagContainer .addToFavoriteButtonRemove{
    right: -1vw;
    background-image: url(img/favorite-1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 2vw;
    background-color: #D9D9D9;
    height: 2vw;
    border-radius: 50%;
    background-size: calc(100% - 5px) calc(100% - 15px);
    border: solid 1px #ffffff;
    top: -1vw;
}
.web .ProductTagLeft .ProductTagContainer .addToFavoriteButtonRemove:hover{
    background-image: url(img/favorite-0.svg);
    background-color: #171f33;
}

.web .ProductTagLeft .ProductTagContainer .ProductPrice{
    display: none;
}



/*  ONLY USED WITH OPTION: PRODUCT TAG 
    NOTIFICATION IN THE SETTINGS MENU
*/
.ProductDetected{
    width: 37vw;
    height: 3vw;
    top: 3.4vw;
    padding: 1vw;
    left: 2vw;
    border: solid 1px #000000;
    background-color: #000000;
    position: absolute;
    font-size: 1.2vw;
    padding: 1vw;
    color: #ffffff;
    border-radius: 0.5em;
}
    /* .ProductDetected::before{ 
        content: "";
        background-repeat: no-repeat;
        pointer-events: none;
        background-size: contain;
        position: absolute;
        width: 5vw;
        top: 0vw;
        height: 2vw;
        left: -2vw;
        z-index: 100;
    } */

.ProductDetected svg{ /* information icon default */
    display: none;
}