﻿/* LIVE POLL */



.Poll-title {
    top: 10vw;
    left: 1.1vw;
    width: 15vw;
    font-size: 2vw;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    background-color: rgba(0,0,0,0.5);
    padding: 1vw;
}

.Poll-LivePollDescription {
    left: 1vw;
    top: 20vw;
    width: 25vw;
    font-size: 1.5vw;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    background-color: rgba(0,0,0,0.5);
    padding: 1vw;
}


/* POLL ITEM */
.PollItem-Container {
    left: 29vw;
    max-width: 70vw;
    top: 8vw;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    z-index: 100;
}

.PollItem {
    width: 10vw;
    float: left;
    margin-right: 1vw;
    background-color: rgba(0,0,0,0.3);
    padding: 1vw;
    margin-bottom: 1vh;
}

.PollItemBar {
    height: 20vw;
    width: 6vw;
    margin-left: 1vw;
    background-color: rgba(0,0,0,0.5);
    transform: rotate(-180deg);
    border: solid 1px #ffffff;
}

.PollItemBarResult{
    background-color:white;
}

.PollItemBarResultnumber {
    margin-top: 1vw;
    margin-left: 1vw;
    width: 6vw;
    font-size: 2vw;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
}

.PollItem-Imagebackground {
    width: 6vw;
    margin-left: 1vw;
    margin-top: 1vw;
}

.PollItem-Image {
    width: 100%;
}

.PollItem-name {
    width: 6vw;
    margin-top: 1vw;
    margin-left: 1vw;
    padding-bottom: 1vw;
    font-family: 'Lato', sans-serif;
    font-size: 1vw;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

.PollItem-Votebutton {
    margin-left: 0vw;
    padding: 1vw;
    background-color: rgba(0,0,0,.4);
    border: solid 1px #fff;
    font-family: 'Lato', sans-serif;
    font-size: 1vw;
    color: #ffffff;
    text-align: center;
    cursor:pointer;
}


/* VOTE CONFIRMATION */

.PollItem-votedcolor {
    background-color: rgba(156, 156, 156, 0.7);
}

#VoteConfirm{
    display:none;
}

.PollItemVoteConfirmationText {
    top: 41vw;
    margin-left: 1vw;
    width: 13vw;
    padding: 1vw;
    background-color: rgba(0,0,0,.4);
    font-family: 'Lato', sans-serif;
    font-size: 1vw;
    color: #ffffff;
    text-align: center;
}

/* OPTIONAL SCROLL BAR IF MANY LIVEPOLL ITEMS */
.PollItem-Container::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

.PollItem-Container::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

.PollItem-Container::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 12px none #ffffff;
    border-radius: 21px;
}

    .PollItem-Container::-webkit-scrollbar-thumb:hover {
        background: #ffffff;
    }

    .PollItem-Container::-webkit-scrollbar-thumb:active {
        background: #808080;
    }

.PollItem-Container::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 48px;
}

    .PollItem-Container::-webkit-scrollbar-track:hover {
        background: #666666;
    }

    .PollItem-Container::-webkit-scrollbar-track:active {
        background: #333333;
    }

.PollItem-Container::-webkit-scrollbar-corner {
    background: transparent;
}
