﻿/* IMPORTANT: COMMENT WHEN NOT USED */
/* These elements are connected to the plugin and reload the background if the background would be an animated image (Animated PNG/Animated GIF)
for the highest quality we recommend to use Animated PNG */

:root {
    /* --buttonContainerBackground:img/button_menu_final.png;
    --buttonContainerBackground-url: url(img/button_menu_final.png);
    --scrollContainerBackgroundCelebrity:img/menu_celebrities.png;
    --scrollContainerBackgroundCelebrity-url: url(img/menu_celebrities.png);
    --scrollContainerBackgroundCustomCelebrity:img/menu_celebrities.png; 
    --scrollContainerBackgroundCustomCelebrity-url: url(img/menu_celebrities.png);
    --scrollContainerBackgroundCelebrityVideoOverview:img/menu_celebrities.png;
    --scrollContainerBackgroundCelebrityVideoOverview-url: url(img/menu_celebrities.png);
    --celebrityVideoOverviewPlayer:img/celebrity_video_player.png;
    --celebrityVideoOverviewPlayer-url: url(img/celebrity_video_player.png); */
}


/* APPLIES TO ALL BUTTONS */

.web .ButtonContainer {
    top: 25px;
    left: 1.5vw;
    height: 50px;
    bottom: 0px;
    right: 0px;
    background-repeat: no-repeat;
    pointer-events: none;
    background-size: contain;
    position: absolute;
    background-color: rgb(0 0 0 / 70%);
    left: 125px;
    right: 1.8vw;
    width: 53vw;
    border-radius: 0.5em;
}
.web .ButtonContainer .defaultMenuButton { /* this button autoscales in width according to the text that is inside */
    font-size: 1vw;
    font-family: 'Lato', sans-serif;
    line-height: 1.9vw;
    text-align: center;
    color: #ffffff;
    min-width: 10vw;
    padding: 0.1vw;
    margin: 0.5vw;
    float: left;
    background-color: rgb(0 0 0 / 90%);
    border-radius: 5px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}
.web .ButtonContainer .defaultMenuButton:hover{
    background: #cacaca85;
}
.web .ButtonContainer .defaultMenuLoader {
    width: 1.5vw;
    height: 1.5vw;
    background-color: darkgray;
    float: right;
    margin-top: 0.75vw;
    margin-right: 0.5vw;
    opacity: 0.5;
    border-radius: 50%;
}
.web .ButtonContainer #ButtonProduct .defaultMenuExtra{
    background-image: url(img/heim-rgb-white.png);
    background-repeat: no-repeat;
    pointer-events: none;
    background-size: contain;
    position: absolute;
    height: 3.2vw;
    width: 7.5vw;
    border-radius: 6px;
    margin-top: -3.1vw;
    margin-left: -20vw;
}

.web .ButtonContainer #ButtonCelebrity{
    margin-left: 9vw;
}

.web .ButtonContainer #ButtonCustomProduct {
    color: #00000000;
}
.web .ButtonContainer .ButtonCustomProduct:hover{
    color: #00000000;
}

.web .ButtonContainer #ButtonCustomProduct .defaultMenuExtra{
    background-image: url(img/Logo-h.webp);
    background-repeat: no-repeat;
    pointer-events: none;
    background-size: contain;
    position: absolute;
    height: 3.2vw;
    width: 7.5vw;
    border-radius: 6px;
    margin-top: -2.5vw;
    margin-left: 0vw;
}

/* DIRECT PURCHASE BUTTON */
.MenuShoppingListButton {
    width: 89.3vw;
    left: -1vw;
    font-size: 1.3vw;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 3vw;
    padding: 0 0.1vw;
    margin: 0.8vw 0 0 0.8vw;
    background-color: rgba(0, 0, 0, .4);
    border: solid 1px #fff;
    border-radius: 0vw;
    text-align: center;
    cursor: pointer;
}
    .MenuShoppingListButton a:visited,
    .MenuShoppingListButton a:link,
    .MenuShoppingListButton a:active {
        color: #ffffff;
    }


/* MENU SROLL SECTION */

.web .MenuContainer {
    font-size: 2.3vw;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    position: relative;
    margin-bottom: 5vh;
    text-transform: capitalize;
    top: 9vw;
    left: 2.2vw;
    z-index: 100;
    width: 100%;
}

.web .MenuContainer .MenuTitle{
    font-size: 2.3vw;
    font-family: var(--ikea-font);
    color: #ffffff;
    margin-bottom: 3vh;
    text-transform: lowercase;
}

.web .MenuContainer .MenuContainerScroll {
    overflow: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 96.5%;
    margin-top: 1vw;
    height: 47vh;
}


.web .MenuContainer .MenuContainerScroll::-webkit-scrollbar {
        width: 6px;
        height: 1vw;
}.web .MenuContainer .MenuContainerScroll::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
}.web .MenuContainer .MenuContainerScroll::-webkit-scrollbar-thumb {
        background: #e1e1e1;
        border: 12px none #ffffff;
        border-radius: 65px;
}.web .MenuContainer .MenuContainerScroll::-webkit-scrollbar-thumb:hover {
            background: #ffffff;
}.web .MenuContainer .MenuContainerScroll::-webkit-scrollbar-thumb:active {
            background: #808080;
}.web .MenuContainer .MenuContainerScroll::-webkit-scrollbar-track {
        background: #666666;
        border: 0px none #ffffff;
        border-radius: 65px;
}.web .MenuContainer .MenuContainerScroll::-webkit-scrollbar-track:hover {
            background: #666666;
}.web .MenuContainer .MenuContainerScroll::-webkit-scrollbar-track:active {
            background: #333333;
}.web .MenuContainer .MenuContainerScroll::-webkit-scrollbar-corner {
        background: transparent;
}

.web .MenuContainer .MenuContainerScroll .MenuCellBackground{
    height: 20.5vw;
    width: 11.7vw;
    position: absolute;
    background-color: rgb(0 0 0 / 90%);
    overflow: hidden;
    border-radius: 0.5em;
}
.web #Celebrity .MenuContainer .MenuContainerScroll{
    overflow-x: hidden; 

}
.web #Celebrity .MenuContainer .MenuContainerScroll .MenuCellBackground{
    border-radius: 0.5em;
    height: 19.5vw;
}
.web #Celebrity .MenuContainer .MenuContainerScroll .MenuCellBackground .MenuCellName {
    width: 8.7vw;
    margin-top: -3.2vw;
    font-size: 1vw;
    line-height: 1;
    white-space: normal;
    padding: 0.1vw;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
    text-transform: capitalize;
    bottom: 0;
    min-height: 2vw;
    color: #ffffff;
    background-color: #ffffff00;
    font-family: var(--ikea-font);
    font-size: 1.2vw;
    text-align: left;
    margin-left: 11%;
    margin-bottom: 5%;
    border-radius: 0em 0em 0.5em 0.5em;
}

/* VIDEO */
.web #CelebrityVideoOverview .MenuContainer .MenuContainerScroll{
    overflow-x: hidden;

}
.web .MenuContainer .MenuContainerScroll .CelebrityVideoItemContainer{
    height: 19.5vw;
    width: 20.7vw;
    position: absolute;
    background-color: rgb(0 0 0 / 90%);
    overflow: hidden;
    border-radius: 0.5em;
}
.web .MenuContainer .MenuContainerScroll .CelebrityVideoItemContainer .CelebrityVideoThumbImage{
    width: 94%;
    border-radius: 10px;
    margin: 3%;
    border-radius: 0.5em;
}
.web .MenuContainer .MenuContainerScroll .CelebrityVideoItemContainer .CelebrityVideoName{
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    font-size: 1vw;
    line-height: 1;
    white-space: normal;
    padding: 0.9vw;
    padding-top: 1.0vh;
    padding-bottom: 0.1vh;
    text-transform: capitalize;
    bottom: 0;
    min-height: 2vw;
    color: #000000;
    background-color: #ffffff;
    font-family: var(--ikea-font);
    font-weight: bold;
    font-size: 1.2vw;
    text-align: left;
    border-radius: 0.5em 0.5em 0 0;
}

.web .MenuContainer .MenuContainerScroll .CelebrityVideoItemContainer .CelebrityVideoDescription{
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 1vw;
    line-height: 1;
    white-space: normal;
    padding: 0.9vw;
    padding-top: 0vh;
    padding-bottom: 0.3vh;
    text-transform: capitalize;
    bottom: 0;
    min-height: 2vw;
    color: #000000;
    background-color: #ffffff;
    font-family: var(--ikea-font);
    font-size: 1.2vw;
    text-align: left;
    border-radius: 0 0 0.5em 0.5em;
}



.web .MenuContainer .MenuContainerScroll .MenuCellBackground img {
    width: 90%;
    pointer-events: none;
    margin: 5%;
    border-radius: 0.5em;
}
/* .web .MenuContainer .MenuContainerScroll .MenuCellBackground:hover .MenuCellName {
    display: block;
} */

.web .MenuContainer .MenuContainerScroll .MenuCellBackground .MenuCellName {  
    width: 10.55vw;
    /* margin-top: -1.2vw; */
    font-size: 1vw;
    line-height: 1;
    white-space: normal;
    padding: 0.9vw;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
    text-transform: capitalize;
    bottom: 0;
    min-height: 2vw;
    color: #000000;
    background-color: #ffffff;
    font-family: var(--ikea-font);
    font-size: 1.2vw;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 13%;
    border-radius: 0.5em;

}
.web .MenuContainer .MenuContainerScroll .MenuCellBackground .MenuCellName .MenuCellBrandName{
    font-family: var(--ikea-font);
    font-size: 1.2vw;
    font-weight: bold;
    text-transform: uppercase;
    width:8.7vw;
}
.web .MenuContainer .MenuContainerScroll .MenuCellBackground .ProductPrice{
    display: block;
    font-family: var(--ikea-font);
    font-size: 2vw;
    color: #000000;
    position: absolute;
    font-weight: 700;
    bottom: 18%;
    left: 5%;
}
.web .MenuContainer .MenuContainerScroll .MenuCellBackground .ProductPrice:after{
    content: "/stk";
    font-family: var(--ikea-font);
    font-size: 1vw;
    color: #000000;
}

.web .MenuContainer .MenuContainerScroll .MenuCellBackground .MenuCellButton{
    width: 80%;
    height: 2vw;
    /* right: 0.3vw; */
    left: 10%;
    font-size: 1vw;
    line-height: 2vw;
    text-align: center;
    color: #ffffff;
    background-color: #0058a3;
    position: absolute;
    bottom: 1vw;
    z-index: 1000;
    border-radius: 5px;
    text-decoration: none;
}
.web .MenuContainer .MenuContainerScroll .MenuCellBackground .MenuCellButton:hover{
    box-shadow: inset 0 0 20px #00328f;
}

.web .MenuContainer .MenuContainerScroll .MenuCellBackground:hover .MenuCellButton{
    display: block;
}

.web .MenuContainer .MenuContainerScroll .MenuCellBackground:hover .addToFavoriteButton {
    display: block;
}
.web .MenuContainer .MenuContainerScroll .MenuCellBackground .addToFavoriteButton{
    background-color: #c5c5c5;
    top: 0.5vw;
    left: 0.5vw;
    display: none;
}
.web .MenuContainer .MenuContainerScroll .MenuCellBackground .addToFavoriteButton:hover{
    background-color: #ee0000;
}

/* make the scroll section 100% as there are not many products therefor no need for scrolling*/
.web #CustomProductMenuContainerID .MenuContainerScroll{
    width: 100%;
    overflow-x: hidden; 
}

/* make the scroll section 100% as there are not many products therefor no need for scrolling*/
.web #MusicMenuContainer .MenuContainerScroll{
    width: 100%;
    overflow-x: hidden; 
}

.web .MenuContainer .MenuContainerScroll .MenuCellContainerProducts {
    display: inline-block;
    color: white;
    text-align: center;
    padding-right: 0.3vw;
    text-decoration: none;
    width: 13vw;
    height: 19.5vw;
    cursor: pointer;
}

/* CHANGE THE STYLE OF THE CUSTOM PRODUCTS IN THE MENU */
.web .MenuContainer .MenuContainerScroll .MenuCellContainerCustomProducts {
    display: inline-block;
    color: white;
    text-align: center;
    padding-right: 0.3vw;
    text-decoration: none;
    width: 12vw;
    height: 12.5vw;
    cursor: pointer;
}
.web .MenuContainer .MenuContainerScroll .MenuCellContainerCustomProducts .MenuCellBackground{
    height: 14.5vw;
    width: 11.7vw;
    position: absolute;
    background-color: rgb(0 0 0 / 90%);
    overflow: hidden;
    border-radius: 0.5em;
}
.web .MenuContainer .MenuContainerScroll .MenuCellContainerCustomProducts .MenuCellBackground img{
    background-color: #ffffff;
}
.web .MenuContainer .MenuContainerScroll .MenuCellContainerCustomProducts .MenuCellBackground .MenuCellName{
    padding: 0.5vw;
}



.web .MenuContainer .MenuContainerScroll .MenuCellContainerMusic {
    display: inline-block;
    color: white;
    text-align: center;
    padding-right: 0.3vw;
    text-decoration: none;
    width: 12vw;
    height: 17.5vw;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    }

    .web .MenuContainer .MenuContainerScroll .MenuCellContainerMusic .MenuCellBackground {
        height: 13.5vw;
        width: 13.7vw;
        position: absolute;
        background-color: #ffffff;
        overflow: hidden;
        border-radius: 5px;
        }

        .web .MenuContainer .MenuContainerScroll .MenuCellContainerMusic .MenuCellBackground:hover .MenuCellName{
            display: block;
        }

        .web .MenuContainer .MenuContainerScroll .MenuCellContainerMusic .MenuCellBackground:hover .MenuCellMusicUrlContainer{
            display: block;
        }

        .web .MenuContainer .MenuContainerScroll .MenuCellContainerMusic .MenuCellBackground .MenuCellName {
            width: 100%;
            font-size: 1vw;
            line-height: 1;
            white-space: normal;
            padding: 0.1vw;
            padding-top: 2.3vh;
            padding-bottom: 2.3vh;
            text-transform: lowercase;
            background-color: #121212c9;
            bottom: 0;
            display: none;
            min-height: 2vw;
        }

        .web .MenuContainer .MenuContainerScroll .MenuCellContainerMusic .MenuCellBackground .MenuCellMusicUrlContainer {
            top: 1vw;
            margin-bottom: 1vw;
            height: initial;
            width: 9vw;
            right: 0.5vw;
            font-size: 0.8vw;
            background: #ffffff;
            padding: 0.2vw;
            padding-bottom: 0.5vw;
            display: none;
            position: absolute;
            border-radius: 5px;
            text-decoration: none;
            }

            .web .MenuContainer .MenuContainerScroll .MenuCellContainerMusic .MenuCellBackground .MenuCellMusicUrlContainer:hover {
                    background-color: #ee0000;
                    
            }

            .MenuCellMusicUrlContainer a:visited,
            .MenuCellMusicUrlContainer a:link,
            .MenuCellMusicUrlContainer a:active {
                color: #000000;
            }

            .MenuCellMusicUrlContainer a:visited:hover,
            .MenuCellMusicUrlContainer a:link:hover,
            .MenuCellMusicUrlContainer a:active:hover {
                color: #ffffff;
            }

#CelebrityVideoPlayer{
    pointer-events: initial;
    position: absolute;
    z-index: 1000000000;
    top: 10vw;
    bottom:initial;
}
#VideoInVideo {
    width: 63vw;
    margin-left: 7.5vw;
    margin-top: 0vw;
    border: solid 0px #ffffff;
    border-radius: 15px;
    background-color: rgb(0 0 0 / 90%);
    padding: 1vw;
    border-radius: 0.5em;
    animation: none;
}

#CelebrityVideoClose {
    width: 3vw;
    height: 3vw;
    background-color: #ffffff;
    position: absolute;
    top: -2vh;
    left: 68.5vw;
    border-radius: 50%;
    cursor: pointer;
}
#CelebrityVideoClose::after {
    content: "x";
    font-size: 2.6vw;
    color: #000000;
    margin-left: 0.8vw;
    font-weight: bold;
}