.web .MusicContainer {
    position: absolute;
    background: #00000088;
    border-radius: 10px;
    padding:1vw;;
}

.web .musicImage{
    /* border:solid 1px #ffffff; */
    width:100%;
    border-radius: 10px;
}

.web .musicUrlButton {
    font-size: 0.8vw;
    font-family: 'Lato', sans-serif;
    padding-top: 0.5vw;
    border-radius: 0vw;
    text-align: center;
    cursor: pointer;
    pointer-events: initial;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
}

.web .musicUrlButton a:visited, .web .musicUrlButton a:link, .web .musicUrlButton a:active {
    text-decoration: none;
    color: #ffffffd9;
    background-color: transparent;
    text-transform: uppercase;
}

.web .musicUrlName{

}
.web .musicUrlText{

}
