﻿@import url('option-celebrity.css');
@import url('option-product.css');
@import url('option-livepoll.css');
@import url('option-form.css');
@import url('option-music.css');
@import url('option-calltoaction.css');
@import url('option-opportunities.css');
@import url('option-menu.css');
@import url('option-tags.css');
@import url('option-program.css');
@import url('option-mobile.css');

  
  
:root {
  /* take this from the (XD/FIGMA) Design */
  --baseWidth: 1920; /* px */
  --baseHeight: 1080; /* px */
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none; /* Removes underline */
  color: inherit;        /* Inherits color from its parent */
  background-color: transparent; /* Ensures no background color */
  cursor: pointer;       /* Makes it look clickable */
  outline: none;         /* Removes focus outline */
  border: none;          /* Removes any borders */
  font-size: inherit;    /* Inherits font size from its parent */
  font-weight: inherit;  /* Inherits font weight from its parent */
  font-family: inherit;  /* Inherits font family from its parent */
  padding: 0;            /* Removes any padding */
  margin: 0;             /* Removes any margins */
  -webkit-appearance: none; /* Removes default appearance in WebKit browsers */
  -moz-appearance: none;    /* Removes default appearance in Firefox */
  appearance: none;         /* Standard way to remove default appearance */
}

/* If you want to ensure that the link doesn't inherit any text-transform property from its parent */
a {
  text-transform: none;
}

/* body{
    font-family: Ikea;
} */

/* DEFAULT FUNCTIONS */
/* LEFT PRODUCT TAG */
.ProductTagLeft:hover ~ .ProductTextLeft {
    display: block;
}
.ProductTagLeft:hover ~ .ProductBrandLeft {
    display: block;
}
.ProductTagLeft:hover ~ .ProductTagLeftImage {
    display: block;
}
/* RIGHT PRODUCT TAG */
.ProductTagRight:hover ~ .ProductTextRight {
    display: block;
}
.ProductTagRight:hover ~ .ProductBrandRight {
    display: block;
}
.ProductTagRight:hover ~ .ProductTagRightImage {
    display: block;
}
.ProductTextLeft, .ProductTextRight, .ProductBrandLeft, .ProductBrandRight, .ProductTagLeftImage, .ProductTagRightImage{
    display: none;
}

/* CELEBRITY TAG */
.CelebrityTag:hover ~ .CelebrityTagText {
    display: block
}
.CelebrityTagText {
    display: none;
}



:not(:root):fullscreen::backdrop {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}


/* LOAD SHOWTAG WITH A BUTTON CLICK*/
/* WEB*/
.minimizeButtonContainer{
    top: 49vh;
    left: 3vw;
    width: 20vw;
    background-color: #e50914;
    height: 5vh;
    color: #ffffff;
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
}
  

.minimizeButtonContainer:hover{

}
.minimizeButtonContainer .minimizeText{
    line-height: 2.6vw;
    text-align: center;
    font-size: 1vw;
}

.web .minimizeButtonContainer .minimizeExtra{
    /* background: url(img/cart.svg);
    background-position: center center;
    background-size: cover;
    margin-top: calc(10/var(--baseHeight)*100vh);
    margin-left: calc((15)/(var(--baseWidth))*100vw);
    width: calc(30/(var(--baseWidth))*100vw);
    height: calc(30/var(--baseHeight)*100vh);
    position: absolute; */
}
.web .minimizeButtonContainer .minimizeProductNotification{
    width: 2vw;
    height: 2vw;
    top: -1vw;
    right: -1vw;
    position: absolute;
    background-color: var(--base-yellow);
    color: var(--menu-item-background);
    border-radius: calc(50/(var(--baseWidth))*100vw) calc(50/(var(--baseWidth))*100vw);
    line-height: 2vw;
    font-size: calc(24/(var(--baseWidth))*100vw);
    text-align: center;
    display: none;
    background-color: #ffffff;
    color: #ee0000;
}

#ExitButton{
    font-size: 1.3vw;
    font-family: 'Lato', sans-serif;
    line-height: 3vw;
    text-align: center;
    color: #ffffff;
    min-width: 10vw;
    padding: 0.1vw;
    margin: 0.5vw;
    float: left;
    background: #ee0000;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: 1.7vw;
    right: 2.5vw;
    pointer-events: initial;
}



